[Unit]
Description=Rotel Worker
After=network.target auditd.service
StartLimitIntervalSec=30s

[Service]
ExecStart=/usr/bin/python3 /home/pi/rotel_rest/manage.py runworker rotel-channel
WorkingDirectory=/home/pi/rotel_rest
KillMode=process
RestartSec=5
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
Alias=rotel-worker.service
